*.cpp linguist-language=cpp

# Sources
*.c     text diff=c eol=lf
*.cc    text diff=cpp eol=lf
*.cxx   text diff=cpp eol=lf
*.cpp   text diff=cpp eol=lf
*.hpp   text diff=cpp eol=lf
*.h     text diff=c   eol=lf

# end of line
*.vcproj	text eol=crlf
*.sh		text eol=lf
*.py		eol=lf
*.txt       text eol=lf
*.md        text eol=lf
*.cmake     text eol=lf
*.json      text eol=lf


# Compiled Object files
*.slo   binary
*.lo    binary
*.o     binary
*.obj   binary

# Precompiled Headers
*.gch   binary
*.pch   binary

# Compiled Dynamic libraries
*.so    binary
*.dylib binary
*.dll   binary

# Compiled Static libraries
*.lai   binary
*.la    binary
*.a     binary
*.lib   binary

# Executables
*.exe   binary
*.out   binary
*.app   binary