# Please refer to https://docs.travis-ci.com/
language: cpp

sudo: required

dist: bionic # ubuntu 18.04

#os:
 # - linux

compiler:
- gcc
- clang

os:
- linux
- osx

matrix:
  exclude:
    # Use clang in osx, and gcc in linux
    - compiler: gcc
      os: osx
    - compiler: clang
      os: linux

env:
  global:
    - CACHE_DIR1=$([ $TRAVIS_OS_NAME = 'osx' ] && echo "$HOME/Library/Caches/Homebrew" || echo "$HOME/apt")
    - CACHE_DIR1=$([ $TRAVIS_OS_NAME = 'osx' ] && echo "/usr/local/Homebrew" || echo "/usr/local/apt")

cache:
  directories:
    - $CACHE_DIR1
    - $CACHE_DIR2

before_cache:
  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then brew cleanup; fi
  - if [ "${TRAVIS_OS_NAME}" = "osx" ]; then find /usr/local/Homebrew \! -regex ".+\.git.+" -delete; fi

install:
- if [ "$TRAVIS_OS_NAME" == "osx" ]; then
    brew update;
    brew install cmake pkg-config openssl boost libsodium readline protobuf;
    export OPENSSL_ROOT_DIR=`brew --prefix openssl`;
    brew link --force readline;
  else
    sudo apt-get update -qq;
    sudo apt install -y g++ cmake libboost-all-dev openssl libssl1.0-dev libreadline-dev pkg-config libsodium-dev libprotobuf-dev protobuf-compiler;
    sudo apt install -y cppcheck valgrind clang-format-8;
  fi

before_script:
- ulimit -c unlimited -S       # enable core dumps

script:
- ./INSTALL.sh
- ./build/test/test_big
- if [ "$TRAVIS_OS_NAME" == "linux" ]; then
    cppcheck --error-exitcode=1 --std=c++11 --enable=warning,performance,portability -i src/leveldb -i build -i src/snappy -i src/crypto -i src/jsonrpc/json -i src/xengine/docker -i script -i test . ;
  fi
